<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create-account</title>
</head>
<body>
    name
    <input type="text">
    email
    <input type="text">
    password
    <input type="text">

    Investments profile

    Fixed expenses
    <input type="text">

    Fixed earning
    <input type="text">

    Fixed investents
    <input type="text">

    Source of incertain earnings
    <input type="text">
    
    Source of incertain expenses
    <input type="text">
</body>
</html>