<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/global.css">
    <title>Create-account</title>
</head>
<body>
    <div class="container">
        <div class="container">
            <h1>
                Fill the following questions
            </h1>
            <label for="name">Name</label>
            <input type="text">

            <label for="email">Email</label>
            <input type="text">
            
            <label for="password">Password</label>
            <input type="text">
        </div>
        <div class="container">
            <h2>Investments Profile</h2>

            <label for="expenses">Fixed expenses</label>
            <input type="text">

            <label for="earning">Fixed earnings</label>
            <input type="text">

            <label for="investments">Fixed investment</label>
            <input type="text">

            <label for="Source of incertain earnings">Source of incertain earnings</label>
            <input type="text">

            <label for="Source of incertain expenses">Source of incertain expenses</label>
            <input type="text">

            <button>Confirm</button>
        </div>
    </div>
</body>
</html>